<center>
{% extends "base.html" %}
{% block content %}
    <table>
        <tr>
            <td><img src={{ photo }}></td>
        </tr>
      <tr>
          <td><h4><b>Name</b>: {{name}}</h4></td>
      </tr>
      <tr>
          <td><h4><b>Website</b>: <a href={{website}}>{{website}}</a></h4></td>
      </tr>
      <tr>
          <td><h4><b>Email</b>: <a href=mailto:{{email}}>{{email}}</a></h4></td>
      </tr>
      <tr>
          <td>
          <h4><b>Affiliations</b>: 
          <ul>
           {% for a in affiliations %}
            <li>{{a}}</li>
            {% endfor %}
          </ul>
          </h4>
          </td>
     </tr>
      <tr>
        <td>
        <h4><b>Papers</b>:<br></h4>
          <ul>
         {% for a in author_papers %}
            <li><a href="/paper/{{a}}">{{a}}</a></li>
         {% endfor %}
         </ul>
         </td>
      </tr>
  </table>
{% endblock %}
</center>