{%- extends "bootstrap/base.html" %}

{% block title %}    
  {% if title %}
      {{ title }} - ScholarsNet
    {% else %}
      Welcome to ScholarsNet
  {% endif %}{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}

{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
<!--     <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='sample-app.css')}}"> -->
{% endblock %}

{% block navbar %}
<div style="font-family: monospace, fixed; font-weight: bold;">
<span style=";color:#55f">&#9484;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;</span><span style=";color:#00a">&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;</span><span style=";color:#aaa">&#9472;&#9472;&#9488;</span><br />
<span style=";color:#55f">&#9474;&#9630;&#9600;&#9622;&#9630;&#9600;&#9622;&#9612;</span><span style="">&#160;</span><span style=";color:#00a">&#9612;&#9630;&#9600;&#9622;&#9612;</span><span style="">&#160;&#160;</span><span style=";color:#00a">&#9630;&#9600;&#9622;&#9627;&#9600;&#9622;&#9630;&#9600;</span><span style=";color:#aaa">&#9622;&#9625;</span><span style="">&#160;</span><span style=";color:#aaa">&#9612;&#9627;&#9600;&#9624;&#9600;&#9627;&#9624;&#9474;</span><br />
<span style=";color:#00a">&#9474;&#9626;&#9604;</span><span style="">&#160;</span><span style=";color:#00a">&#9612;</span><span style="">&#160;&#160;</span><span style=";color:#00a">&#9625;&#9604;&#9612;&#9612;</span><span style="">&#160;</span><span style=";color:#00a">&#9612;&#9612;</span><span style="">&#160;&#160;</span><span style=";color:#aaa">&#9625;&#9604;&#9612;&#9625;&#9604;&#9624;&#9626;&#9604;</span><span style="">&#160;</span><span style=";color:#aaa">&#9612;&#9612;&#9612;&#9625;&#9604;</span><span style="">&#160;&#160;</span><span style=";color:#555">&#9612;</span><span style="">&#160;</span><span style=";color:#555">&#9474;</span><br />
<span style=";color:#00a">&#9474;&#9622;</span><span style="">&#160;</span><span style=";color:#00a">&#9612;&#9612;</span><span style="">&#160;</span><span style=";color:#00a">&#9622;&#9612;</span><span style="">&#160;</span><span style=";color:#aaa">&#9612;&#9612;</span><span style="">&#160;</span><span style=";color:#aaa">&#9612;&#9612;</span><span style="">&#160;&#160;</span><span style=";color:#aaa">&#9612;</span><span style="">&#160;</span><span style=";color:#aaa">&#9612;&#9612;&#9626;</span><span style="">&#160;</span><span style=";color:#aaa">&#9622;</span><span style="">&#160;</span><span style=";color:#555">&#9612;&#9612;&#9629;&#9612;&#9612;</span><span style="">&#160;&#160;&#160;</span><span style=";color:#555">&#9612;</span><span style="">&#160;</span><span style=";color:#555">&#9474;</span><br />
<span style=";color:#aaa">&#9474;&#9629;&#9600;</span><span style="">&#160;</span><span style=";color:#aaa">&#9629;&#9600;</span><span style="">&#160;</span><span style=";color:#aaa">&#9624;</span><span style="">&#160;</span><span style=";color:#aaa">&#9624;&#9629;&#9600;</span><span style="">&#160;</span><span style=";color:#aaa">&#9600;&#9600;&#9624;</span><span style=";color:#555">&#9624;</span><span style="">&#160;</span><span style=";color:#555">&#9624;&#9624;</span><span style="">&#160;</span><span style=";color:#555">&#9624;&#9629;&#9600;</span><span style="">&#160;</span><span style=";color:#555">&#9624;</span><span style="">&#160;</span><span style=";color:#555">&#9624;&#9600;&#9600;&#9624;</span><span style="">&#160;</span><span style=";color:#55f">&#9624;</span><span style="">&#160;</span><span style=";color:#55f">&#9474;</span><br />
<span style=";color:#aaa">&#9492;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;</span><span style=";color:#555">&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;</span><span style=";color:#55f">&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9496;</span><br />
</div>
<h1>{{ title }}</h1>

  <hr/>
{% endblock %}
