{%- extends "bootstrap/base.html" %}

{% block title %}    
  {% if title %}
      {{ title }} - ScholarsNet
    {% else %}
      Welcome to ScholarsNet
  {% endif %}{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}

{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
<!--     <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='sample-app.css')}}"> -->
{% endblock %}

{% block navbar %}

<img src="{{ url_for('static', filename = 'sc.png') }}">
<h1>{{ title }}</h1>

  <hr/>
{% endblock %}
