{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
    {{ form.csrf }}

    <p>
        <div class="input text">
            {{ form.search_query.label }}: 
            {{ form.search_query }}
        </div>  
    </p>
    <p>
    <b>Search for</b>:
        <label class="checkbox-inline">
            {{form.paper}} Papers
        </label>
        <label class="checkbox-inline">
            {{form.author}} Authors
        </label>
    </p>
    <p>
        <label class="input submit">
            <input type="submit" value="Submit" />
        </label>
    </p>
    
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message[1] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}