{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
    {{ form.csrf }}

    <p>
        <div class="input text input-lg" style="width: 60%">
            {{ form.search_query.label }}: 
            {{ form.search_query }}
            {% for error in form.search_query.errors %}
                <span style="color: red;">Query cannot be empty!</span>
            {% endfor %}
        </div>
    </p>
    <p>
        <label class="dropdown-inline">
            {{form.search_category.label}} 
            {{form.search_category}}
        </label>
    </p>
    <p>
        <label class="input submit">
            <input type="submit" value="Submit" />
        </label>
    </p>
    
    </form>
    {% if paper or author%}
        <table>
            <!-- {% if paper|length > 0 %} -->
                <th>
                    Paper:
                </th>
            <!-- {% endif %} -->
            {% for row_index in range(paper|count) %}
                <tr>
                  <td><a href="/paper/{{paper[row_index]}}">{{paper[row_index]}}</a></td>
                </tr>
            {% endfor %}
        </table>
        {% if paper %}
        <br>
        {% endif %}
        <table>
            <!-- {% if author|length > 0 %} -->
                <th>
                    Author:
                </th>
            <!-- {% endif %} -->
            {% for row_index in range(author|count) %}
                <tr>
                  <td><a href="/author/{{author[row_index]}}">{{author[row_index]}}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}