{% extends "base.html" %}
{% block content %}
    <table>
      <tr>
        <td><h2>
          <b>Title</b>: {{title_}}
        </h2></td>
      </tr>
      {% if doi|length >0 and doi != None%}
      <tr>
        <td><h4>
          Doi: {{doi}}
        </h4></td>
      </tr>
      {% endif %}
      {% if abstract|length >0 and abstract != None %}
      <tr>
        <td><h4>
          <b>Abstract</b>:<br> {{abstract}}
        </h4></td>
      </tr>
      {% endif %}
      {% if author[1] == True %}
      <tr>
        <td><h4>
          <b>Lead author</b>: <a href="/author/{{author[row_index]}}">{{author[0]}}</a>
        </h4></td>
      </tr>
      {% else %}
      <tr>
        <td><h4>
          <b>Lead author</b>: {{author[0]}}
        </h4></td>
      </tr>
      {% endif %}
      
      {% if coauthors|count > 0 %}
      <tr>
        <td><h4>
          <b>Coauthors</b>:
            <ul>
           {% for a in coauthors %}
              {% if a[1] %}
                <li><a href="/author/{{a[0]}}">{{a[0]}}</a></li>
              {% else %}
                <li>{{a[0]}}</li>
              {% endif %}
            {% endfor %}
            </ul>
        </h4></td>
      </tr>
      {% endif %}
      <tr>
        <td><h4>
          <b>URL</b>: <a href={{url}}>{{url}}</a>
        </h4></td>
      </tr>
      <tr>
        <td><h4>
          <b>Year</b>: {{year}}
        </h4></td>
      </tr>
      <br><br>
      <tr>
        <td><h3>
          <b>You might also like</b>:
        <ul>
           {% for r in recommendations %}
            <li><a href="/paper/{{r}}">{{r}}</a></li>
            {% endfor %}  
          </ul>  
          </h3></td>   
      </tr>
    </table>
{% endblock %}